---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'O firmie';
const description = 'O nas.';
const permalink = `${Astro.site.href}about`;
---

<BaseLayout title={title} description={description} permalink={permalink} current="about">
  <div class="container">
    <h1>O nas – Pasja napędzana technologią</h1>
    <figure class="about-image">
      <img src="/assets/about-illustration.webp" alt="Illustration of a notebook" width="330">
      <figcaption>
        Illustration by
        <a href="https://icons8.com/illustrations/author/5c07e68d82bcbc0092519bb6" target="_blank" rel="noopener">Icons 8</a>
        from
        <a href="https://icons8.com/illustrations" target="_blank" rel="noopener">Ouch!</a>
      </figcaption>
    </figure>
    <p>W LDH Rowery wierzymy, że przyszłość dwóch kółek ma napęd elektryczny. Jesteśmy specjalistycznym serwisem, który powstał z połączenia pasji do kolarstwa oraz fascynacji nowoczesną technologią. Podczas gdy inni kończą pracę na regulacji hamulców, my wchodzimy głębiej – w samo serce układów elektronicznych Twojego roweru.</p>
    <p>Dlaczego my? Naprawa roweru elektrycznego (e-bike) to wyzwanie wymagające wiedzy z dwóch dziedzin: precyzyjnej mechaniki oraz zaawansowanej elektroniki. Nasz warsztat to miejsce, gdzie te dwa światy spotykają się w rękach profesjonalistów. Nie boimy się skomplikowanych usterek, błędów systemowych czy regeneracji baterii.</p>
    <p>Co nas wyróżnia? Kompleksowa obsługa: Od centrowania kół i serwisu zawieszenia, po diagnostykę komputerową i naprawę sterowników. Obsługa wielu znanych marek: Posiadamy oprogramowanie i narzędzia do obsługi zarówno najpopularniejszych jak i niszowych systemów wspomagania. Precyzja i doświadczenie: Każdy rower traktujemy indywidualnie, dbając o to, by wrócił do właściciela w stanie zapewniającym komfort jazdy</p>
    <p>Specjalizujemy się w diagnostyce i naprawie systemów wiodących producentów. Niezależnie od tego, czy Twój e-bike to miejski klasyk, czy zaawansowany rower górski (e-MTB), poradzimy sobie z serwisem takich systemów jak: Bosch, ION, Shimano Steps, Bafang, Brose, Innergy, BMZ, Bulls. Serwisujemy również wiele innych marek – jeśli nie widzisz swojej na liście, skontaktuj się z nami!</p>
    <p>Chcemy, aby Twój rower elektryczny był niezawodnym towarzyszem codziennych dojazdów i weekendowych wypraw. Stawiamy na rzetelną diagnozę i transparentność – zanim przystąpimy do pracy, dokładnie diagnozujemy rower, a następnie wyjaśnimy Ci, co wymaga naprawy i jakie będą jej koszty.</p>
    <p>Chcesz umówić swój rower na przegląd lub potrzebujesz szybkiej diagnozy? Zadzwoń do nas lub odwiedź nasz serwis stacjonarnie!</p>
  </div>
</BaseLayout>

<style>
  .about-image {
    float: right;
    margin: -3em -7em 2em 2em;
    max-width: 300px;
  }

  .about-image img {
    border-radius: 8px;
    margin-bottom: 1.5em;
  }

  @media (max-width: 1020px) {
    .about-image {
      float: none;
      margin: 0 auto 2em;
    }
  }
</style>
