<style>
img {
    display: block;
    width: 150px;
    transition: filter 0.3s ease; /* Płynne przejście koloru */
  }

  :global(.theme-dark) img {
    filter: invert(1) brightness(2);
  }

  @media screen and (max-width: 520px) {
    img { display: none; }
  }
</style>

<a href="/">
  <img alt="LDH Rowery Logo" src="/assets/logo1.webp" width="150" height="100" />
</a>