<style>
  img {
    display: block;
    width: 150px;
  }

  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
  }
</style>

<a href="/">
  <img alt="Blog Logo" src="/assets/logo1.webp" width="150" height="100" />
</a>
